<section class="section background">
    <div class="section__title">Background</div>
    <div class="section__content">
        <p>
            I'm a <strong>Master's</strong> student in <strong>Computer Science</strong> at
            <a class="underline-link" href="https://www.bu.edu/" target="_blank">Boston University</a>.<br>
            I also have a <strong>Bachelor's</strong> from BU (2015) in <strong>Psychological & Brain Sciences</strong>.
        </p>

        <p>
            In my free time, I work as an <strong>Independent tutor</strong> on
            <a class="underline-link" href="https://wyzant.com" target="_blank">Wyzant</a>, covering anything from: <br>
            Psychology, Neuroscience, Statistics, Chinese, English, Test Prep, to <br>
            <code>Java</code>, <code>Python</code>, <code>JavaScript</code>, <code>C</code>, <code>Web Development</code>, and <code>Scratch</code> (for kids)!
        </p>

        <!-- something about psychology & neuroscience & education -->
        <!-- <p>
            As a software engineer, I enjoy bridging the gap between engineering and design &mdash; combining my technical knowledge
            with my keen eye for design to create a beautiful product. My goal is to always build applications that are scalable
            and efficient under the hood while providing engaging, pixel-perfect user experiences.
        </p> -->

        <p>
            <strong>When I'm not growing as a programmer</strong>,
            you can find me playing video games, <br>
            spending time with my cats, or enjoying a good book or movie.
        </p>

        {% include employment-status.html %}
    </div>
</section>
